__pycache__
parivesh-files/*.csv
database.yaml
model
ttt.json
weekly-news
geckodriver*
chromedriver*
client_secrets.json
credentials.json
settings.yaml
*.csv
LICENSE.chromedriver
last_checkpoint.txt
Online_Proposalby_Status_Forest.html
.DS_Store
*.xls