numpy
pandas
matplotlib
imblearn
torch==1.9.0
transformers==4.10.2
sqlalchemy==1.4
psycopg2-binary
openpyxl
xlsxwriter
pyyaml==5.4.1
psycopg2
textblob
newsapi-python
beautifulsoup4
geopy
requests_oauthlib
selenium
lxml
html5lib
pydrive
